@import "../mixins";
@import "../breakpoints";

.user{
    margin-bottom: 10px;
    div{
        display: inline-block;
    }
    .icon{
        margin-right: 10px;
        padding: 9px 0px;
        width: 30px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        @include rounded(100px);
    }
    @include all-mobile{
        font-size: 12px;
        div{
            display: inline-block;
        }
        .icon{
            margin-right: 5px;
            padding: 7px 0px;
            width: 25px;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            @include rounded(100px);
        }
    }
}

.bookItem {
    @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            .user{
                @for $i from 1 through 15 {
                    &:nth-child(#{$i}) {
                        .icon {
                            background-color: nth($colors, random(length($colors)));
                        }
                    }
                }
            }
        }
    }
}